"*":
  core:
    autoHideMenuBar: true
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 15
  "exception-reporting":
    userId: "10db2f7b-0d7d-06c6-10ca-74a95b3cbbe0"
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  welcome:
    showOnStartup: false
