[
  {
    type: "url"
    icon: "octoface"
    url: "https://github.com/chyld?tab=repositories"
    tooltip: "Github"
  }
  {
    type: "url"
    icon: "google"
    iconset: "fa"
    url: "https://google.com"
    tooltip: "Google"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "close"
    iconset: "fa"
    style:
      color: "#ff0066"
    callback: "core:close"
    tooltip: "Close File"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "file-text-o"
    iconset: "fa"
    callback: "application:new-file"
    tooltip: "New File"
  }
  {
    type: "button"
    icon: "folder-open-o"
    iconset: "fa"
    callback: "application:open-file"
    tooltip: "Open File"
  }
  {
    type: "button"
    icon: "save"
    iconset: "fa"
    callback: "core:save"
    tooltip: "Save File"
  }
  {
    type: "button"
    icon: "adjust"
    iconset: "fa"
    callback: "tree-view:toggle"
    tooltip: "Tree View Toggle"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "gear"
    style:
      color: "#ff6600"
    iconset: "fa"
    callback: "application:show-settings"
    tooltip: "Show Settings"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "key"
    style:
      color: "#66ff00"
    callback: "application:open-your-config"
    tooltip: "Open Config"
  }
  {
    type: "button"
    icon: "database"
    iconset: "fa"
    style:
      color: "#66ff00"
    callback: "application:open-your-snippets"
    tooltip: "Open Snippets"
  }
  {
    type: "button"
    icon: "book"
    style:
      color: "#66ff00"
    callback: "flex-tool-bar:edit-config-file"
    tooltip: "Edit Tool Bar"
  }
  {
    type: "spacer"
  }
]
