[alias]
  st = status -s
  lg = log --oneline --decorate --all --graph
  br = branch -av
  rt = remote -v
[user]
  email = chyld.medford@gmail.com
  name = Chyld Medford
[push]
  default = simple
[credential]
  helper = cache --timeout=86400
