[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Type=simple
ExecStart=/usr/bin/kanata --cfg %h/.config/kanata/config.kbd
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target

