[Desktop Entry]
Version=1.0
Name=WezTerm
Comment=GPU-accelerated terminal emulator and multiplexer
Exec=/home/august/bin/wezterm
Icon=/home/august/Developer/devops/dots/linux/assets/wezterm-icon.svg
Terminal=false
Type=Application
Categories=Utility;TerminalEmulator;
StartupWMClass=org.wezfurlong.wezterm
Keywords=shell;prompt;command;commandline;cmd;

