[Desktop Entry]
Version=1.0
Name=Mount
Comment=Mounts the Share directory
Exec=/home/chyld/Code/devops/scripts/kde/mount.sh
Icon=vcs-added
Terminal=true
Type=Application
Categories=Utility;

